---
import { ChapterButtonGroup } from "~/components/elements/chapter-button-group";
import BaseLayout from "~/layouts/base.astro";
import { getChapterContent } from "~/lib/api/book";

const { slug, page } = Astro.params;
const chapterNumber = Number(page);
const chapter = await getChapterContent(slug!, chapterNumber);
const prevChapter = chapterNumber > 1 ? chapterNumber - 1 : null;
const nextChapter =
  chapterNumber < Number(chapter?.book?.total_chapter)
    ? chapterNumber + 1
    : null;
---

<BaseLayout headerSticky={false}>
  <div class="container px-4 py-4">
    <div class="prose dark:prose-invert mx-auto max-w-6xl">
      <div class="text-center">
        <h4 class="font-normal">
          <a href={`/${slug}`}>{chapter?.book?.title}</a>
        </h4>

        <h2 class="text-center">{chapter.title}</h2>
      </div>
      <div class="sticky top-0 p-2 w-full bg-background">
        <ChapterButtonGroup
          client:load
          slug={slug!}
          chapterCurrent={chapter.chapter_number!}
          chapters={chapter?.book?.chapters?.sort((a, b) => {
            return Number(a?.chapter_number) - Number(b?.chapter_number);
          })!}
          nextChapter={nextChapter}
          prevChapter={prevChapter}
        />
      </div>

      <div class="mt-6">
        <!-- TODO UPDATE ADSENSE -->
      </div>
      <div style="white-space: pre-line;" set:html={chapter?.content!} />
    </div>
  </div>
</BaseLayout>
