---
import { Suspense } from "react";
import Head from "~/components/bases/head.astro";
import Navbar from "~/components/elements/navbar.astro";
import Header from "~/components/shared/header.astro";
import { SITE } from "~/lib/config";
import type { Entry } from "~/lib/types";

const { categories, adsense } = Astro.locals;
const {
  description,
  keywords,
  title,
  ogImage,
  pubDatetime,
  modDatetime,
  entry,
  headerSticky,
  categorySlug,
}: {
  description?: string;
  keywords?: string;
  title?: string;
  categorySlug?: string;
  ogImage?: string;
  pubDatetime?: Date;
  modDatetime?: Date;
  entry?: Entry;
  headerSticky?: boolean;
} = Astro.props;
---

<!doctype html>
<html lang={SITE.locale} dir="ltr">
  <Head
    ogImage={ogImage}
    description={description || entry?.data?.description}
    keywords={keywords}
    title={title || entry?.data?.title}
    adsense={adsense}
    pubDatetime={pubDatetime}
    modDatetime={modDatetime}
  />

  <body>
    <Header
      categorySlug={categorySlug}
      sticky={headerSticky}
      categories={categories}
    />

    <main id="main-container">
      <div class="w-full lg:max-w-[70%] mx-auto pb-16">
        <div class="mb-10"><slot /></div>
        <Navbar />
      </div>
    </main>
    <script>
      document.startViewTransition = document.startViewTransition || (() => {});
    </script>
  </body>
</html>
